//imports
@use "sass:color";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

//colors
$primary-color: #3498db;
$body-bg: #F9F7F4;

$black: #1B1F2B;

// font
$font-stack: 'Roboto',
sans-serif;
$font-size: 16px;

html,
body {
  margin: 0;
  padding: 0;
  background: $body-bg;
  font-family: $font-stack;
  font-size: $font-size;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $body-bg;
}

h1 {
  /* Съешь же ещё этих мягких французских булок да выпей чаю. */
  margin: 0;
  /* H1 */
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 109%;
  /* or 105px */
  letter-spacing: 0.02em;
  font-variant-ligatures: none;

  /* Black */
  color: $black;


  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

h2 {
  /* Съешь же ещё этих мягких французских булок да выпей чаю. */
  @extend h1;
  /* H2 */
  font-size: 59px;
  line-height: 124%;
  /* or 73px */
  // letter-spacing: default;
}

h3 {
  /* Съешь же ещё этих мягких французских булок да выпей чаю. */
  @extend h1;
  /* H3 */
  font-weight: 500;
  font-size: 35px;
  line-height: 122%;
  /* or 43px */
}

.p-normal {
  /* Съешь же ещё этих мягких французских булок да выпей чаю. */

  /* p-normal */
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  letter-spacing: 0;
  font-kerning: none;
  font-variant-ligatures: none;
  /* or 28px */

  /* Black */
  color: $black;


  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;

}

.p-big {
  /* Съешь же ещё этих мягких французских булок да выпей чаю. */
  @extend .p-normal;
  /* p-big */
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;
  /* identical to box height, or 28px */
}

.p-small {
  /* Съешь же ещё этих мягких французских булок да выпей чаю. */
  /* p-small */
  @extend .p-normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 142%;
  /* or 24px */
  letter-spacing: -0.01em;

}


header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: center;
  height: 88px;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out;

  .header-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 1168px;

    .logo {
      background-image: url(../assets/images/YourTour.svg);
      background-size: cover;
      width: 181.34px;
      height: 30.24px;
    }

    .mid-section {
      width: 468px;
      display: flex;
      width: 468px;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;

      .header-button {
        color: white;
        background-color: transparent;
        border-color: transparent;
        border: none;
        padding: 0 0;
        font-family: $font-stack;
      }
    }

    .phone-number {
      width: 155px;
      text-align: center;
      color: white;
      align-self: center;
    }
  }

}

header.scrolled {
  background-color: #f3efe860;

  backdrop-filter: blur(54px);
  -webkit-backdrop-filter: blur(54px);

  .header-content {
    .logo {
      filter: invert(100%)
    }

    .mid-section {
      .header-button {
        color: $black;
      }
    }

    .phone-number {
      color: $black;
    }
  }
}

.head-column {
  /* header-img */

  width: 100%;
  height: 831px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 39.9%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/images/header-img.png);
  display: flex;
  flex-direction: column;
  align-items: center; // Horizontally centers the text wrapper and the button

  .head-text-content {
    text-align: center; // Centers the text lines within the wrapper
    margin-bottom: 50px;
    margin-top: (119px + 88px);
    /* Add space between the text block and the button */
  }

  .head-title {
    color: white;
    max-width: 100%; // Add max-width to prevent overflow
    width: 767px;
    margin-bottom: 50px;
  }

  .head-p {
    color: white;
    margin-bottom: 50px;
    width: 562px;
    margin: 0 auto;
    /* Центрирует блочный элемент по горизонтали */
  }

  .head-button {
    width: 118px;
    height: 34px;
    text-align: center;
    background-color: white;
    border-color: transparent;
    border: none;
    border-radius: 10px;
    margin: 0 auto;
  }
}

.tiles {
  width: 100%;
  .tile {
    height: 531px;
    width: 370px;
    border-radius: 50px;

    .title {
      color: white;
      padding-top: 50px;
      padding-left: 50px;
      padding-right: 51px;
      margin-bottom: 16px;
    }

    .price {
      color: white;
      padding-left: 50px;
      padding-right: 50px;
      margin-bottom: 277px;
    }

    .more {
      color: white;
      padding-bottom: 50px;
      padding-left: 50px;
      bottom: 0px;
    }

    .more::after {
      content: url(../assets/images/arrow\ bt.png);
      display: inline-block;
      width: 24px;
      height: 26px;
    }
  }

  .a {
    background:
      center / contain no-repeat linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%),
      center / contain no-repeat url(../assets/images/card\ tour\ photo-1.jpg);
  }

  .b {
    background:
      center / contain no-repeat linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%),
      center / contain no-repeat url(../assets/images/card\ tour\ photo-2.jpg);
  }

  .c {
    background:
      center / contain no-repeat linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%),
      center / contain no-repeat url(../assets/images/card\ tour\ photo-3.jpg);
  }

  .d {
    background:
      center / contain no-repeat linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%),
      center / contain no-repeat url(../assets/images/card\ tour\ photo-4.jpg);
  }

  .e {
    background:
      center / contain no-repeat linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%),
      center / contain no-repeat url(../assets/images/card\ tour\ photo-5.jpg);
  }

  .f {
    background:
      center / contain no-repeat linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%),
      center / contain no-repeat url(../assets/images/card\ tour\ photo-6.jpg);
  }


}

.choose {
  width: 700px;
  height: 142px;
  margin-bottom: 100px;
  .title {
    text-align: center;
  }
  .selector {
    .selector-button {

    }
  }
}

.col-a {
  width: 1170px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

section {
  margin-bottom: 135px;
  width: 100%
}

